body {
  display: inline;
  background: dodgerblue;
  color: white;
  align-items: center;
}

img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 24rem;
  height: 24rem;
}
